.featured_listing{
    text-align: center;
    padding: 5rem 7%;
}
.featured_listing h1 {
    padding-bottom: 3.5rem;
    padding-bottom: 1rem;
}
.featured_listing .card a{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: black;
    font-weight: bolder;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
.featured_listing .featured_listing_card{
    width: 100%;
    
}

.featured_listing .featured_listing_card img{
    width: 100%;
    border-radius: 6px;
}
.featured_listing .featured_listing_card .featured_listing_card_info{
    background-color: whitesmoke;
    text-align: left;
    padding: 0.5rem;
}
.featured_listing .featured_listing_card .featured_listing_card_info .property_title{
    display: flex;
    justify-content: space-between;
}

.featured_listing .featured_listing_card .featured_listing_card_info .property_title .price{
    color: black;
}
.featured_listing .featured_listing_card .featured_listing_card_info p{
    padding-bottom: 0.4rem;
    border-bottom: 1px solid black;
}